/Muhammad_Anas_Funtion_1/nbproject/private/
/Muhammad_Anas_Function_2/nbproject/private/
/Muhammad_anas_funcion_3/nbproject/private/
/Muhammad_Anas_Fucntion_4/nbproject/private/
/Muhammad_Anas_Function_2/build/
/Muhammad_Anas_funcion_5/nbproject/private/
